/* style.css by Echo Adams */

body {
	background-color: #9FC9FF;
	padding: 100px;
	color: 	#midnight blue;
	background-image: url("http://tinyurl.com/l823kts");
	margin-top: 100%;
	margin-bottom: 100%;
	Margin-right: 400%;
	margin-left: 400%;
	text-align: center;
} 
div.border {
    background-color: black;
    color: #7a01a3;
    margin: 20px 0 20px 0;
    padding: 20px;
	border-style: double;
	border-width: 10px;
}

div.list{
	text-align: justify;
}

img {
   padding:1px;
   border:2px solid #7a01a3;
   background-color: black;
}
